extends ../layout

block content
    h1= i18n.ui.labels.connection.ucFirst()
    if error
        p.error= error.message

    form(action=action, method="post")
        !{csrf_protection}

        label(for="login") #{i18n.ui.labels.login.ucFirst()} :
        br
        input(type="text", value=data.login, id="login", name="login", autofocus)
        br

        label(for="password") #{i18n.ui.labels.password.ucFirst()} :
        br
        input(type="text", id="password", name="password")
        br
        br

        button(type="submit")= i18n.ui.buttons.login
