extends layout

block content
    h1= i18n.titles.main
    ul
        if user
            li
                a(href="/logout")= i18n.ui.buttons.logout
        else
            li
                a(href="/login")= i18n.ui.buttons.login
        if user
            li
                a(href="/user/profile")= i18n.ui.buttons.profile
        li
            a(href="/user/list")= i18n.ui.buttons.userlist
