form(action, method="post")
    !{csrf_protection}

    label(for="login") #{i18n.ui.labels.login.ucFirst()} :
    br
    input(type="text", value=attempt && attempt.login ? attempt.login : userProfile.login, id="login", name="login")
    br

    if user.role === 'owner'
        label(for="role") #{i18n.ui.labels.role.ucFirst()} :
        br
        input(type="text", value=attempt && attempt.role ? attempt.role : userProfile.role, id="role", name="role")
        br

    button(type="submit")= i18n.ui.buttons.save
