extends ../layout

block content
    if error
        if error.reason === 'duplicated' && error.duplicatedField === 'login'
            p.error #{i18n.messages.error.loginused.ucFirst().feed(attempt)}.
        else
            p.error= error.message
    if updated
        if user._id.equals(userProfile._id)
            p.info #{i18n.messages.info.profileupdated.own}.
        else
            p.info #{i18n.messages.info.profileupdated.other.feed(userProfile)}.

    h1= i18n.titles.profileof.feed(userProfile)

    if mode === 'edition'
        include profile-form
    else
        include profile-view

    p
        a(href='/')= i18n.ui.buttons.back
